@using System.Globalization;
@{
    Layout = "~/Views/Shared/Client/HomeLayout.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
             <!--   BANNER  -->
            <div class="col-lg-12">
                <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height rounded">
                    <div class="newrealease-contens">
                        <div class="big-banner">
                            <img src="~/images/background/homepage.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="slider-banner">
                            @foreach (Book book in ViewBag.TopSellingBooks)
                            {
                                <div class="banner-item ">
                                    <a href="/book/@book.BookId" class="image-link">
                                        <img src="@book.imageUrl" class="img-fluid rounded" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOOK RANDOM-->
            <div class="col-lg-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Gợi ý ngẫu nhiên cho bạn</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="category.html" class="btn btn-sm btn-primary view-more">Xem Thêm</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row">
                            @foreach (Book book in ViewBag.RandomBooks)
                            {
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height browse-bookcontent">
                                        <div class="iq-card-body p-0" style="height: 100%">
                                            <div class="d-flex align-items-end" style="height: 100%">
                                                <div class="col-6 p-0 position-relative image-overlap-shadow">
                                                    <a href="javascript:void();"><img class="img-fluid rounded w-100" src="@book.imageUrl" alt=""></a>
                                                    <div class="view-book">
                                                        <a href="book-page.html" class="btn btn-sm btn-white">Mua Ngay</a>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-2">
                                                        <h6 class="mb-1">@book.Name</h6>
                                                        <p class="font-size-13 line-height mb-1">@book.Authors</p>
                                                        @* <div class="d-block line-height">
                                                            <span class="font-size-11 text-warning">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </span>
                                                        </div> *@
                                                    </div>
                                                    <div class="price d-flex align-items-center">
                                                        <h6>
                                                            @{
                                                                CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
                                                                string costFormat = double.Parse(book.Cost.ToString()).ToString("#,###", cul.NumberFormat);
                                                                <b>@costFormat</b>
                                                            }
                                                        </h6>
                                                    </div>
                                                    <div class="iq-product-action">
                                                        <a href="javascript:void();"><i class="ri-shopping-cart-2-fill text-primary"></i></a>
                                                        <a href="javascript:void();" class="ml-2"><i class="ri-heart-fill text-danger"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Best Seller-->
            <div class="col-lg-6">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">Best Seller</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row align-items-center">
                            @{
                                Book bestSeller = ViewBag.TopSellingBooks[0];
                            }
                            <div class="col-sm-5 pr-0">
                                <a href="javascript:void();"><img class="img-fluid rounded w-100" src="@bestSeller.imageUrl" alt=""></a>
                            </div>
                            <div class="col-sm-7 mt-3 mt-sm-0">
                                <h4 class="mb-2">@bestSeller.Name</h4>
                                <p class="mb-2">@bestSeller.Authors</p>
                                @* <div class="mb-2 d-block">
                                    <span class="font-size-12 text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div> *@
                                <span class="text-dark mb-3" style="line-height: 25px;-webkit-line-clamp: 4;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">
                                    @bestSeller.Content
                                </span>
                                <button type="submit" class="btn btn-primary learn-more">Xem thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Số lượng sách còn lại của các loại sách-->
            <div class="col-lg-6">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">Nhà Sách TV</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-inline row mb-0 align-items-center iq-scrollable-block">
                            @foreach (var quantityBookByKOB in ViewBag.quantityBookByKOBs)
                            {
                                <li class="col-sm-6 d-flex mb-3 align-items-center">
                                    <div class="mt-1">
                                        <h6>@quantityBookByKOB.KOBName</h6>
                                        <p class="mb-0 text-primary">Số lượng sách còn lại: <span class="text-body">@quantityBookByKOB.Quantity</span></p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>