@using BookStore.DTO;
@using Newtonsoft.Json;
@using System.Globalization;

@model List<CartDTO>
<div>
    <div class="Cart-Navbar-Items">
        <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
            <i class="ri-shopping-cart-2-line"></i>
            <span class="badge badge-danger count-cart rounded-circle">@(Model.Count() > 0 ? Model.Count() : "0")</span>
        </a>
        <div class="iq-sub-dropdown">
            <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 toggle-cart-info">
                    @if (Model.Count() > 0)
                    {
                        <div class="bg-primary p-3">
                            <h5 class="mb-0 text-white">Giỏ Hàng<small class="badge  badge-light float-right pt-1">@Model.Count()</small></h5>
                        </div>
                        int count = 0;
                        @for (int i=Model.Count()-1;i>=0;i--)
                        {
                            count++;
                            if (count <= 3)
                            {
                                <a href="/book/@Model[i].BookId" class="iq-sub-card">
                                    <div class="media align-items-center">
                                        <div class="">
                                            <img class="rounded" src="@Model[i].imageUrl" alt="">
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="mb-0 ">@Model[i].Name</h6>
                                            @{
                                                CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
                                                string costFormat = double.Parse(@Model[i].Cost.ToString()).ToString("#,###", cul.NumberFormat);
                                            }
                                            <p class="mb-0">@costFormat</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        }

                    }
                    else
                    {
                        <p class="text-secondary d-flex justify-content-center m-0 p-2">Không có sản phẩm nào trong giỏ hàng</p>
                    }
                    <div class="d-flex align-items-center justify-content-center p-3">
                        <a class="btn btn-primary mr-2 iq-sign-btn" href="/cart" role="button">Giỏ Hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>