@model BookStore.Models.Book

@{
    Layout = "~/Areas/Admin/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Sách";
}


<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div>
                            <h4>Sách</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    ID
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.BookId)
                                </dd>
                                <dt class="col-sm-2">
                                    Tên sách
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Giới thiệu nội dung
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Content)
                                </dd>
                                <dt class="col-sm-2">
                                    Giá bán
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cost)
                                </dd>
                                <dt class="col-sm-2">
                                    Ngày phát hành
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Date)
                                </dd>
                                <dt class="col-sm-2">
                                    Số lượng
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Number)
                                </dd>
                                <dt class="col-sm-2">
                                    Tác giả
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Authors)
                                </dd>
                                <dt class="col-sm-2">
                                    Loại sách
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.KindOfBook.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Ảnh
                                </dt>
                                <dd class="col-sm-10">
                                    <img style="width: 70px;" src="@(Model!=null?Model.imageUrl:"")" class="img-fluid rounded-circle mr-3" alt="book">
                                </dd>

                            </dl>
                            <a asp-action="Index">Quay lại danh sách sách</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>