@using BookStore.Util;
@model PaginatedList<BookStore.Models.Customer>

@{
    Layout = "~/Areas/Admin/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Khách hàng";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Danh sách khách hàng</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="Customer/Create" class="btn btn-primary">Thêm khách hàng</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between ">
                                <div style="color: #212529;">
                                    Hiển thị
                                    <select name="pageSize" value="@ViewBag.pageSize" class="form-select">
                                        
                                        <option value="5" class="selectPageSize">5</option>
                                        <option value="10" class="selectPageSize">10</option>
                                        <option value="20" class="selectPageSize">20</option>
                                    </select>
                                    mục
                                </div>
                                <input id="input-search" type="text" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Search..." class="form-control w-25 mb-3" />
                            </div>
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;">STT</th>
                                        <th style="width: 15%;">
                                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.AddressSortParam" asp-route-currentFilter="@ViewBag.CurrentFilter">Địa chỉ</a>
                                        </th>
                                        <th style="width: 15%;">
                                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.SalarySortParam" asp-route-currentFilter="@ViewBag.CurrentFilter">Lương</a>
                                        </th>
                                        <th style="width: 15%;">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var customer in Model)
                                    {
                                        <tr>
                                            <td>@(++i)</td>
                                            <td>@customer.Name</td>
                                            <td>@customer.Address</td>
                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="Customer/Edit/@customer.CustomerId"><i class="ri-pencil-line"></i></a>
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xoá" href="Customer/Delete/@customer.CustomerId"><i class="ri-delete-bin-line"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                                <ul class="pagination">
                                    @{
                                        if (Model.HasPreviousPage)
                                        {
                                            <li class="page-item mr-2">
                                                <a asp-action="Index"
                                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                                                   class="btn btn-default page-link ">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <li class="page-item mr-2">
                                        <button type="button" class="btn btn-info">@Model.PageIndex</button>
                                    </li>
                                    @{
                                        if (Model.HasNextPage)
                                        {
                                            <li class="page-item">
                                                <a asp-action="Index"
                                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                                                   class="btn btn-default page-link ">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsAjax{
    <script>
        $(document).ready(function () {
            var selectedValue = $("select[name='pageSize']").val();
            var inputSearchValue = $("#input-search").val();
            //xử lý page size
            $("select[name='pageSize']").on("change", function () {
                // Lấy giá trị của tùy chọn được chọn
                selectedValue = $(this).val();
                $.ajax({
                    url: "",
                    dataType: 'html',
                    data: { searchString: inputSearchValue, pageSize: selectedValue },
                    success: function (response) {
                        // Tạo một jQuery object từ response để dễ dàng tìm thẻ table
                        var responseHtml = $(response);

                        // Lọc ra phần HTML chứa thẻ table
                        var tableHtml = responseHtml.find("table");

                        // Lấy nội dung HTML trong thẻ table
                        var tableContent = tableHtml.html();

                        $("table").html(tableContent);
                    }
                })
            });


            $("#input-search").keyup(function () {
                inputSearchValue = $(this).val();
                $.ajax({
                    url: "",
                    data: { searchString: inputSearchValue, pageSize: selectedValue },
                    dataType: 'html',
                    success: function (response) {
                        // Tạo một jQuery object từ response để dễ dàng tìm thẻ table
                        var responseHtml = $(response);

                        // Lọc ra phần HTML chứa thẻ table
                        var tableHtml = responseHtml.find("table");

                        // Lấy nội dung HTML trong thẻ table
                        var tableContent = tableHtml.html();

                        $("table").html(tableContent);
                    }
                })
            })
        });
    </script>
}